.header {
    display: flex;
    padding-top: 50px;
    background: #E554731A;
}

.header-content h1 {
    font-size: 40px;
}

.header-content p {
    font-size: 18px;
    color: rgba(39, 39, 39, 0.60);
}

.button {
    margin-top: 20px;
    border-radius: 5px;
    background: #E55473;
    color: white;
    padding: 10px 15px;
    border: none;
}

.header-content {
    width: 50%;
}

.header-img {
    width: 50%;
    text-align: center;
}

.header-img img {
    width: 50%;
}



.hot-deal {
    margin-top: 50px;
    display: flex;
    padding-top: 50px;
    background: #E554731A;
}




footer {
    padding: 50px 0 20px 0;
    background: rgba(0, 0, 0, 0.746);

    text-align: center;
}

footer h1 {
    color: #E55473
}

footer p,
footer span {
    color: gray
}